*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: system-ui, -apple-system, sans-serif;


}

/* page center */
body{
min-height:100dvh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

/* container */
.container{
width:100%;
max-width:400px;
padding:25px;
border-radius:12px;
border:1px solid #ccc;
}

/* heading */
h2{
text-align:center;
margin-bottom:20px;
font-size:22px;
color: white;
opacity: 0.9;
}

/* form layout */
form{
display:flex;
flex-direction:column;
gap:12px;
}

/* input fields */
input{
    background-color: #000;
    color:white;
padding:12px;
border:none;
border-bottom: 1px solid white;

font-size:14px;
outline:none;
}

/* focus effect (no color change, only structure) */
input:focus{
border-width:2px;
}
/* button */
button{
padding:12px;
border-radius:8px;
border:1px solid #000;
font-size:15px;
cursor:pointer;
background-color: #2563EB;
color: white;
}

/* spacing for small screens */
@media(max-width:480px){

.container{
padding:18px;
border-radius:10px;
}

h2{
font-size:18px;
}

input{
padding:10px;
font-size:13px;
}

button{
padding:10px;
font-size:14px;
}
button:hover{
  transform: scale(1.05);
}

}

body{
  background: url("./images/sports.png") no-repeat center/cover;
  background-size: cover;
  background-position: bottom;

}
.container{
  animation: fadeIn 0.9s ease;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform: translateY(50px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
button{
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
}

/* @media(min-width:1024px){
  body{
    background-size: cover;   
  }
} */
/* background-size: contain  pura image aaayega conntain seh but kuch side meh blanks  */

/* overlay for readability */
body::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}
.container{
  position: relative;
  z-index:1;


background: black;
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(15px);
}

.password-rules {
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  color: rgb(189, 15, 15);
  background-color: #f4f6f8fc;
  border: 1px solid red;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.password-rules p {
  margin: 0 0 6px 0;
}

.password-rules ul {
  margin: 0;
  padding-left: 18px;
}

.password-rules li {
  margin-bottom: 4px;
}
.password-rules{



display: none;


}
.password{
  width: 90%;
}
.password-container {
  border-bottom: 1px solid white;

   display: flex;
   width: 100%;

   justify-content: space-between;
   text-align: center;
   
}
i {

 
  cursor: pointer;
  user-select: none;
  color: white;


}
.emailValid{
  display: none;
}

/* Line on eye */
.eye.slash::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: black;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}